body {
    margin: 0;
    padding: 0;
}

/* NAVIGATION SECTION */

.navigation-content {
    background: rgb(1, 57, 93);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-logo-wrap {
    padding-left: 0.5em;
    max-width: 100%;
}

.logo-nav-img {
    max-width: 200px;
}

.nav-a-wrap {
    padding-right: 0.5em;
}

.nav-a-wrap a {
    margin-right: 1em;
    color: white;
    font-weight: bold;
    padding: 1em;
}

.nav-a-wrap a:hover {
    color: rgb(12, 241, 12);
    background: rgb(1, 72, 116);
}


/* TITLE SECTION */

.title-content {
    background:rgb(1, 57, 93);
    padding: 1em;
}

.title-text-wrap {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 1em;
}

.title-text-wrap p {
    color: white;
    margin: 0em;
}

/* HELP SECTION */

.help-content {
    background:rgb(30, 179, 154);
    padding-top: 3em;
    padding-bottom: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help-text-wrap {
    text-align: center;
    width: 50%;
}

.help-text-wrap p {
    padding-bottom: 0.5em;
    margin: 0em;
}

.help-button-wrap {
    margin-top: 1.5em;
}

.help-button-wrap a {
    color: white;
    background:rgb(2, 96, 154);
    padding: 1em;
}

/* TEAM CONTENT */

.team-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background: rgb(224, 222, 222);
}

.team-text-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1em;
}

.team-text-wrap p{
    margin: 0em;
    padding-bottom: 1em;
    line-height: 2em;
}

.team-img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* SKILLS CONTENT */

.skills-content {
    padding-bottom: 2em;
}

.skills-title-wrap {
    display: flex;
    justify-content: center;
    padding-top: 2em;
}

.development-design-wrap {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.development-design-text-wrap {
    max-width: 45%; 
}

.development-design-text-wrap p {
    line-height: 1.5em;
}

/* INDUSTRIES CONTENT */
.industries-content {
    display: flex;
    flex-direction: column;
    padding-top: 2em;
}


.industries-text-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.industries-wrap {
    display: flex;
    justify-content: center;
}

.industries-text-wrap p {
    margin: 0.25em;
}

.industries-list-wrap {
    display: grid;
    grid-template-columns: 15em 15em 15em;
    grid-template-rows: 1em 1em 1em;
    align-items: center;
    gap: 2em;
    margin-top: 4em;
}

.industries-list-wrap p {
    background:rgb(224, 222, 222);
    border-radius: 5px;
    padding: 0.5em;
}

/* FOOTER CONTENT */
.footer-content {
    margin-top: 4em;
    background: rgb(1, 57, 93);
}

.footer-logo-wrap {
    padding-left: 3em;
}

.footer-logo-wrap img {
    max-width: 15%;
}

.footer-anchors-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-anchor-wrap {
    display: flex;
    flex-direction: column;
}